= form_for @item, multipart: true, html: { role: 'form', class: 'form-horizontal' } do |f|
  - if @item.errors.any?
    #error_explanation
      %h2= "#{pluralize(@item.errors.count, "error")} prohibited this item from being saved:"
      %ul
        - @item.errors.full_messages.each do |msg|
          %li= msg
  .form-group
    = f.label :name, 'タイトル', class: 'col-lg-2 control-label'
    .col-lg-5
      = f.text_field :name, class: 'form-control', placeholder: '(オプション)'
  .form-group
    = f.label :content, 'ファイル', class: 'col-lg-2 control-label'
    .col-lg-5
      = f.file_field :content
  .form-group
    = f.label :expires_at, '有効期限', class: 'col-lg-2 control-label'
    .col-lg-5
      = f.datetime_select :expires_at, class: 'form-control', use_month_numbers: true
  .form-group
    = f.label :password, '削除用パスワード', class: 'col-lg-2 control-label'
    .col-lg-5
      = f.password_field :password, class: 'form-control', placeholder: '******'
  .form-group
    = f.label :password_confirmation, '(再入力)', class: 'col-lg-2 control-label'
    .col-lg-5
      = f.password_field :password_confirmation, class: 'form-control', placeholder: '******'
  .form-group
    = f.label :message, 'コメント', class: 'col-lg-2 control-label'
    .col-lg-5
      = f.text_area :message, class: 'form-control', placeholder: '(オプション)'
  .form-group
    .col-lg-offset-2.col-lg-10
      = f.button 'アップロード', class: 'btn btn-primary', type: 'submit', data: { disable_with: 'アップロード中...' }
